/* Styl dla podświetlonych liter */
.highlight {
    background-color: yellow;
    font-weight: bold;
  }
  
  /* Styl dla listy zadań */
  #todo-list {
    list-style: none;
    padding: 0;
  }
  
  /* Styl dla elementów listy zadań */
  #todo-list li {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  /* Dodaj styl dla elementu daty */
  #todo-list span.date {
    font-size: 14px;
    color: #333;
    margin-right: 10px;
}

  
  /* Styl dla przycisków "Usuń" */
  #todo-list button {
    margin-left: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Styl dla przycisków "Usuń" po najechaniu myszką */
  #todo-list button:hover {
    background-color: #cc0000;
  }